<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Successful</title>
</head>
<body>
    <h2>Successful</h2>
    <p><strong>Predicted Disease : </strong> {{ leaf.predicted_label }}</p>
    <p><strong>Confidence Score  :</strong>{{ leaf.confidence_score }}%</p>
    {% if leaf.image %}
        <img src = "{{ leaf.image.url }}" alt="Uploaded Lead Image" style="max-width: 300;">
    {% else %}
        <p>No image available.</p>
    {% endif %}
</body>
</html>